<!-- Contact form starts -->
<style>
    #cc-form {
    }
    #cc-form label {
    		display: inline-block;
    		width: 150px;
    		padding-right: 10px;
    		text-align: right;
    		font-family: 'LatoRegular';
		font-size: 15px;
		line-height: 1.4;
    	}
    	#cc-form label span.req {
    		color: red;
    	}
    #cc-form input.text, #cc-form textarea {
        display: inline-block;
    }
    #cc-form textarea {
    		height: 150px;
    	}
    #cc-form .clear {
        clear: both;
        padding: 5px 0;
    }
    #cc-form .recaptcha {
    		width: 318px;
		margin-left: 165px;
	}
	#cc-form input.text {
		width: 239px;
		color: #404040;
		padding-top: 7px;
		padding-left: 10px;
		padding-bottom: 6px;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border: none;
		box-shadow: inset 1px 1px 3px #000;
		-webkit-box-shadow: inset 1px 1px 3px #000;
		-moz-box-shadow: inset 1px 1px 3px #000;
	}
	
	#cc-form textarea {
		width: 238px;
		height: 110px;
		color: #404040;
		padding-top: 6px;
		padding-left: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border: none;
		box-shadow: inset 1px 1px 3px #000;
		-webkit-box-shadow: inset 1px 1px 3px #000;
		-moz-box-shadow: inset 1px 1px 3px #000;
	}
	
	#cc-form .submit {
		width: 253px;
		height: 53px;
		position: relative;
		left: 2px;
		border: none;
		padding: 0 0 0 30px;
		color: #fff;
		font-family: 'open_sansbold';
		font-size: 18px;
		text-align: center;
		margin: 10px auto 10px;
		background: url('/img/contact-submit.png') no-repeat 50% 0;
	}
	
	#cc-form .submit:hover {
		background-position: 50% bottom;
	}

</style>
<form name="cntnt-contact-form" id="cc-form" action="scripts/contactForm.php" method="post">
	<label for="fname"><span class="req">*</span>First Name:</label>
	<input type="text" class="text" name="fname" value="" />
	<div class="clear"></div>
    <label for="lname"><span class="req">*</span>Last Name:</label>
    <input type="text" class="text" name="lname" value="" />
	<div class="clear"></div>
    <label for="company">Company:</label>
    <input type="text" class="text" name="company" value="" />
	<div class="clear"></div>
    <label for="email"><span class="req">*</span>Email:</label>
    <input type="text" class="text" name="email" value="" />
    <div class="clear"></div>
    <label for="phone"><span class="req">*</span>Phone</label>
    <input type="text" class="text" name="phone" value="" />
    <div class="clear"></div>
    <label for="city"><span class="req">*</span>City</label>
    <input type="text" class="text" name="city" value="" />
    <div class="clear"></div>
    <label for="help">How Can We Help:</label>
    <textarea class="textarea" name="help"></textarea>
    <div class="clear"></div>
    <div class="recaptcha">
    		<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LeVStMSAAAAAMexgFYck4AdBTivaB1tm8Egkdvj"></script>
    </div>
    <div class="clear"></div>
    <label for="submit"></label>
    <input type="submit" name="submit" class="submit" value="SUBMIT INQUIRY" />
</form>
<!-- Contact form ends -->
